<html>
  <head>
    <title>Aprendendo NodeJS com o GoNode - Desafio 01</title>
  </head>
  <body>
    <form action="/check" method="POST">
      Nome:<input type="text" name="name" />
      Data de nascimento:<input type="date" name="date" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
